body{
    background-color: rgb(60, 66, 61);
}

#holder{
    height: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
}

html{
    height: 100%;
}

.Even{
    background-color: #38703a;
}

.Odd{
    background-color: #4bc44f;
}

.InpGrid1{
    background-color: #db4d65;
}

.InpGrid2{
    background-color: #5aa633;
}

.InpGrid3{
    background-color: #fcbf23;
}

.InpGrid4{
    background-color: #2397fc;
}

.InpGrid5{
    background-color: #ba43fa;
}